In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [23]:
movie_data_5000 = "movie_metadata.csv"
movie_data_df = pd.read_csv(movie_data_5000)
movie_data_df2 = pd.read_csv('IMDB-Movie-Data.csv')

In [24]:
movie_data_df.iloc[:,15:22].head()

,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating
0,0.0,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0,English,USA,PG-13
1,0.0,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0,English,USA,PG-13
2,1.0,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994.0,English,UK,PG-13
3,0.0,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,2701.0,English,USA,PG-13
4,0.0,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN,NaN

In [25]:
movie_data_df2.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [26]:
movie_data_df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [27]:
movie_data_df2.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [28]:
movie_data_df = movie_data_df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [29]:
movie_data_df2 = movie_data_df2.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [30]:
movie_data_df = movie_data_df.rename(columns = {'movie_title':'Title'})

In [31]:
test_df = movie_data_df.merge(movie_data_df2,on="Title",how="inner")

In [68]:
test_df.iloc[:,21:30].head(20)

,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,Rank,Genre
0,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,88,"Action,Adventure,Fantasy"
1,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,76,"Action,Adventure,Fantasy"
2,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,170,"Action,Adventure,Thriller"
3,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,125,"Action,Thriller"
4,NaN,NaN,NaN,12.0,7.1,NaN,0,51,"Action,Adventure,Fantasy"
5,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000,390,"Action,Adventure,Sci-Fi"
6,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0,345,"Action,Adventure"
7,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0,345,"Action,Adventure"
8,PG,260000000.0,2010.0,553.0,7.8,1.85,29000,408,"Animation,Adventure,Comedy"
9,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000,95,"Action,Adventure,Sci-Fi"
10,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000,474,"Adventure,Family,Fantasy"
11,PG-13,250000000.0,2016.0,4000.0,6.9,2.35,197000,61,"Action,Adventure,Sci-Fi"
12,PG-13,209000000.0,2006.0,10000.0,6.1,2.35,0,925,"Action,Adventure,Sci-Fi"
13,PG-13,200000000.0,2008.0,412.0,6.7,2.35,0,771,"Action,Adventure,Thriller"
14,PG-13,225000000.0,2006.0,5000.0,7.3,2.35,5000,79,"Action,Adventure,Fantasy"
15,PG-13,215000000.0,2013.0,2000.0,6.5,2.35,48000,970,"Action,Adventure,Western"
16,PG-13,225000000.0,2013.0,3000.0,7.2,2.35,118000,295,"Action,Adventure,Fantasy"
17,PG-13,220000000.0,2012.0,21000.0,8.1,1.85,123000,77,"Action,Sci-Fi"
19,PG-13,250000000.0,2011.0,11000.0,6.7,2.35,58000,46,"Action,Adventure,Fantasy"
20,PG-13,225000000.0,2012.0,816.0,6.8,1.85,40000,497,"Action,Adventure,Comedy"

In [72]:
test_df.aspect_ratio.value_counts()

2.35     481
1.85     164
2.39       7
1.78       2
16.00      2
2.00       2
2.20       1
2.40       1
1.33       1
1.37       1
1.66       1
2.24       1
2.76       1
4.00       1
Name: aspect_ratio, dtype: int64

In [45]:
test_df = test_df.drop_duplicates()

In [65]:
test_df['actor_2_name'].value_counts()

Morgan Freeman          9
Adam Sandler            6
Charlize Theron         5
Mila Kunis              5
Anne Hathaway           4
Eddie Marsan            4
Scarlett Johansson      4
Judy Greer              4
Christian Bale          4
Edgar Ramírez           4
Brad Pitt               4
Meryl Streep            4
Bill Murray             4
Rosario Dawson          4
Randall Park            3
Michael Kelly           3
Jeremy Renner           3
Dennis Quaid            3
Alan Rickman            3
Djimon Hounsou          3
Theo James              3
Cara Delevingne         3
Jennifer Garner         3
Abbie Cornish           3
Dylan Minnette          3
Spencer Wilding         3
Elizabeth Debicki       3
Bruce Greenwood         3
Michael Fassbender      3
Sharlto Copley          3
                       ..
William Xifaras         1
Rory Cochrane           1
Lauren German           1
Martin Henderson        1
Oona Laurence           1
Adelaide Kane           1
Katharine McPhee        1
Robin Atkin Downes      1
Rob Walker              1
Ryan Reynolds           1
Bradley Whitford        1
Chris Mulkey            1
Benedict Cumberbatch    1
Matt Long               1
Ike Barinholtz          1
Michiel Huisman         1
Greg Nicotero           1
Emily Wickersham        1
Brandon Molale          1
Lucy Fry                1
Rami Malek              1
Scott Elrod             1
Sarah Roemer            1
Frank Grillo            1
Patch Darragh           1
Nick Krause             1
Alison Brie             1
Alexa Davalos           1
Donald Faison           1
Lindsay Sloane          1
Name: actor_2_name, Length: 476, dtype: int64

In [62]:
test_df['Genre'].value_counts()

Action,Adventure,Sci-Fi       44
Action,Adventure,Fantasy      24
Animation,Adventure,Comedy    21
Comedy                        21
Drama,Romance                 20
Comedy,Romance                19
Comedy,Drama,Romance          18
Action,Adventure,Drama        18
Crime,Drama,Thriller          16
Adventure,Family,Fantasy      15
Crime,Drama,Mystery           15
Drama                         15
Action,Adventure,Thriller     13
Action,Crime,Drama            13
Action,Adventure,Comedy       10
Comedy,Drama                  10
Action,Comedy,Crime            8
Animation,Action,Adventure     8
Biography,Drama,History        8
Action,Thriller                8
Biography,Crime,Drama          7
Action,Biography,Drama         6
Action,Crime,Thriller          6
Mystery,Thriller               6
Horror,Mystery,Thriller        6
Drama,Horror,Sci-Fi            6
Biography,Drama                5
Action,Sci-Fi,Thriller         5
Comedy,Crime,Drama             5
Comedy,Crime                   5
                              ..
Biography,Drama,Mystery        1
Comedy,Horror,Romance          1
Comedy,Horror,Sci-Fi           1
Action,Biography,Crime         1
Action,Adventure,Western       1
Comedy,Horror                  1
Horror,Sci-Fi,Thriller         1
Action,Comedy,Sport            1
Crime,Mystery,Thriller         1
Mystery,Romance,Sci-Fi         1
Adventure,Drama                1
Adventure,Comedy,Fantasy       1
Comedy,Romance,Western         1
Action,Comedy,Sci-Fi           1
Action,Drama,Romance           1
Action,Comedy,Family           1
Drama,Mystery,War              1
Thriller                       1
Action,Horror,Thriller         1
Animation,Action,Comedy        1
Adventure,Comedy,Romance       1
Biography,Comedy,Crime         1
Adventure,Horror,Mystery       1
Drama,Fantasy                  1
Drama,Fantasy,War              1
Comedy,Romance,Sport           1
Drama,Horror,Thriller          1
Action,Horror,Romance          1
Comedy,Drama,Musical           1
Adventure,Drama,Romance        1
Name: Genre, Length: 177, dtype: int64

In [54]:
benhur = test_df.loc[test_df['Title'] == 'Ben-Hur']
benhur.iloc[:,31:39]

,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
207,Timur Bekmambetov,"Jack Huston, Toby Kebbell, Rodrigo Santoro,Naz...",2016,123,5.7,28326,26.38,38.0
208,Timur Bekmambetov,"Jack Huston, Toby Kebbell, Rodrigo Santoro,Naz...",2016,123,5.7,28326,26.38,38.0
209,Timur Bekmambetov,"Jack Huston, Toby Kebbell, Rodrigo Santoro,Naz...",2016,123,5.7,28326,26.38,38.0

In [61]:
test_df['Year'].value_counts()

2015    89
2014    81
2013    76
2016    71
2012    62
2010    59
2011    56
2008    48
2007    46
2006    45
2009    41
Name: Year, dtype: int64

NameError: name 'all_titles_df' is not defined